# Compilados y binarios
target/
build/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# IDEs (IntelliJ, Eclipse, NetBeans, VS Code)
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache
.vscode/
.apt_generated
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Otros
HELP.md
.DS_Store